CONFIG_ARM=y
CONFIG_SOC_SERIES_CEC=y
CONFIG_SOC_CEC1702=y
CONFIG_BOARD_SECUREIOT1702=y
CONFIG_CORTEX_M_SYSTICK=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=48000000

CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

CONFIG_SPI=y
CONFIG_SPI_CEC_QMSPI=y
CONFIG_SPI_0=y
CONFIG_SPI_0_IRQ_PRI=0
CONFIG_SPI_0_NAME="QMSPI0"

CONFIG_FLASH=y
CONFIG_SPI_FLASH_SFDP=y
CONFIG_SPI_FLASH_SFDP_SPI_NAME="QMSPI0"
CONFIG_SPI_FLASH_SFDP_SPI_FREQ_0=12000000

# No DT support for these yet
CONFIG_UART_NS16550=y
CONFIG_UART_NS16550_PORT_0=y
CONFIG_UART_NS16550_PORT_1=y

